@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 20px;
}

h1 {
    padding: 30px;
    margin: 10px;
    background-color: #896bb3;
    color: white;
    border-radius: 10px;
    /*border: 2px solid #896bb3;*/
}