@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    padding: 10px;
    background-color: #896bb3;
    color: white;
}