<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/app.css}" />
    <title>Gifs Library</title>
  </head>

  <body>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus qui quidem quod unde? Adipisci dolores quo reprehenderit sint temporibus! Obcaecati possimus quidem reprehenderit. Dicta, dolore doloribus labore laborum nemo voluptas.
    </p>
    <img alt="picture" th:src="@{/gifs/compiler-bot.gif}" />
  </body>

</html>
